mixin head(title, type, description)

  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")

  unless description
    - var description = "兵庫県の明石高専にて開催。テーマは「lol (lots of laugh)」 好奇心をくすぐられるような面白い発表・展示を行います。";

  meta(name="description" content="4/30(土)開催、高専カンファレンスlolの公式サイトです。#{description}")

  meta(property="og:type" content="#{type}")
  meta(property="og:image" content="https://raw.githubusercontent.com/yamasy1549/kosenconf-101lol/gh-pages/images/og-image.png")
  meta(property="og:url" content="http://kosenconf.me")
  meta(property="og:site_name" content="高専カンファレンスlol")
  meta(property="og:locale" content="ja_JP")
  meta(property="fb:admins" content="1017782938294691")
  meta(property="fb:app_id" content="1017782938294691")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@kosenconf")
  meta(name="twitter:creator" content="@kosenconf")
  meta(name="twitter:description" content="高専カンファレンスlolの公式サイトです。#{description}")
  meta(name="twitter:image" content="https://raw.githubusercontent.com/yamasy1549/kosenconf-101lol/gh-pages/images/og-image.png")

  if title
    title #{title} | 高専カンファレンスlol 公式サイト
    meta(name="twitter:title" content="#{title} | 高専カンファレンスlol 公式サイト")
  else
    title 高専カンファレンスlol 公式サイト
    meta(name="twitter:title" content="高専カンファレンスlol 公式サイト")

  link(rel="icon" href="./images/favicon/favicon.ico")
  link(rel="apple-touch-icon" href="./images/favicon/apple-touch-icon.png")
