mixin sponsor(name, img, url)
  li.sponsor
    .icon
      a(href="#{url}" target="_blank")
        img(src="./images/sponsors/#{img}" alt="#{name}")
    .name
      a(href="#{url}" target="_blank") #{name} さま
